DD_API_KEY=
DD_SYSTEM_PROBE_ENABLED=true
DD_PROCESS_AGENT_ENABLED=true
DD_TRACE_ANALYTICS_ENABLED=true
DD_APM_ENABLED=true
DD_APM_NON_LOCAL_TRAFFIC=true
DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
DD_LOGS_ENABLED=true
DD_AC_EXCLUDE="name:datadog-agent"