* {
  font-family: 'Barlow'
}

body, html {
  padding: 0; 
  margin: 0; 
}

body {
  /* background-color: #F8F4F1;  */
  /* background-color: #e1f1eb;  */
  background-color: #e7ecea;
}

.left {
  float: left; 
}

.full-width {
  width: 100%; 
}

.pd-zero {
  padding: 0 !important; 
}

h1 {
  font-weight: 600; 
  font-size: 36px; 
  line-height: 51px; 
}

h2 {
  font-weight: 700; 
  font-size: 22px; 
}

.sand {
  color: #FACB38; 
}

.charcoal {
  color: #0C1A24 
}

.logo {
  background-image: url('./img/logo.png');
  background-image: url('./img/logo.svg'); 
  background-repeat: no-repeat; 
  width: 175px; 
  height: 38px; 
  background-size: contain; 
  margin-top: 38px; 
}

.superhero-primary {
  background-color: #004346; 
  float: left; 
  width: 100%; 
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px; 
  position: relative;
}

.superhero-primary .title {
  margin-left: 30px; 
  margin-top: 80px; 
  margin-bottom: 200px; 
}

.superhero-secundary {
  float: left; 
  width: 100%; 
  /* background-color: #fff;  */
  background-color: #f2fdfa;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
}

.superhero-secundary .title {
  margin-top: 70px; 
  margin-left: 30px; 
}

.superhero-secundary .description {
  margin-left: 30px; 
  margin-bottom: 50px; 
  font-size: 18px; 
}

.superhero-box {
  background-color: #fff; 
  border-radius: 5px; 
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
  margin-top: 25px; 
  position: relative;
}

.superhero-image {
  background-image: url('./img/ovassistant-homepage2.png');
  width: 408px; 
  height: 410px; 
  background-size: contain; 
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  /* top: 50px;   */
  z-index: 9; 
  background-position: bottom;
  bottom: 0;
}

.usp-row {

}

.usp-box {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
  margin-top: 30px; 
  border-radius: 5px; 
}

.usp-item-start {
  background-color: #f2fdfa; 
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px;
  float: left; 
  width: 100%;
}

.usp-item-middle {
  background-color: #f2fdfa; 
  float: left; 
  width: 100%;
}

.usp-item-end {
  background-color: #f2fdfa; 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left; 
  width: 100%;
}

.usp-item {
  transition: background-color ease-in-out 0.2s;
  padding-top: 30px; 
  padding-bottom: 30px; 
  padding-right: 20px; 
}

.usp-item:hover {
  background-color: #fff; 
  transition: background-color ease-in-out 0.2s;
}

.usp-item .usp-item-title {
  font-size: 20px; 
  font-weight: 700; 
  color: #0C1A24; 
}

.usp-outer-box .usp, .usp-full-width {
  background-color: #fff; 
  border-radius: 5px; 
  border: 1px solid #B2B4B5; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  margin-bottom: 40px; 
}

.usp-outer-box .usp .icon, .usp-full-width .icon {
  width: 75px; 
  height: 75px; 
  background-repeat: no-repeat; 
  background-size: contain; 
  margin-top: 20px; 
  margin-left: 20px; 
}

.extract-icon {
  background-image: url('./img/extract-icon.png');
  background-image: url('./img/extract-icon.svg')
}

.verify-icon {
  background-image: url('./img/verify-icon.png');
  background-image: url('./img/verify-icon.svg')
}

.analyze-icon {
  background-image: url('./img/analyze-icon.png');
  background-image: url('./img/analyze-icon.svg')
}

.getting-started-icon {
  background-image: url('./img/getting-started-icon.png');
  background-image: url('./img/getting-started-icon.svg')
}

.usp-outer-box .usp .title, .usp-full-width .title {
  font-size: 20px; 
  font-weight: 700; 
  color: #0C1A24; 
  padding-left: 20px; 
  margin-top: 10px; 
}

.usp-outer-box .usp .description, .usp-full-width .description {
  font-size: 16px; 
  color: #0C1A24; 
  padding-left: 20px; 
  margin-top: 4px; 
  padding-right: 20px; 
  padding-bottom: 40px; 
}

.usp-full-width .description, .usp-full-width .title {
  padding-left: 0; 
}

.usp-full-width .title {
  margin-top: 23px; 
}

.title-box {
  margin-top: 60px;
}

.questionnaire-box {
  background-color: #fff; 
  border: 1px solid #B2B4B5;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  margin-bottom: 60px; 
}

.questionnaire-box .progress-box .bar {
  width: 15%; 
  background-color: #399597; 
  height: 8px; 
  border-top-left-radius: 4px; 
  margin-bottom: 12px; 
  transition: width 400ms ease-in-out; 
}

.questionnaire-box .progress-box .label {
  font-size: 16px; 
  font-weight: 600; 
  margin-bottom: 45px; 
  padding-left: 20px; 
}

.questionnaire-box .question-box {
  margin-bottom: 20px; 
}

.questionnaire-box .question {
  font-size: 20px; 
  margin-left: 20px; 
  margin-right: 20px;
}

.questionnaire-box .answer-box {
  margin-left: 20px; 
  margin-bottom: 60px; 
}

.questionnaire-box .answer-box.email {
  margin-bottom: 30px; 
  margin-top: 28px;
}

.questionnaire-box .answer-box input {
  font-size: 18px; 
  padding: 12px 15px; 
  border-radius: 3px; 
  border: 1px solid #b2b4b5; 
  width: 300px; 
  border-bottom: 3px solid #0C1A24; 
  outline: 0; 
}

.questionnaire-box .answer-box .answer {
  width: 42px; 
  height: 42px; 
  border-radius: 25px; 
  border: 2px solid #0C1A24; 
  float: left; 
  background-position: center;  
  background-repeat: no-repeat;
  transition: background-color ease-in-out 0.15s; 
  background-color: #fff; 
}

.questionnaire-box .answer-box .answer:hover {
  cursor: pointer; 
  background-color: rgba(0,0,0,0.20);
  transition: background-color ease-in-out 0.15s; 
}

.questionnaire-box .answer-box .answer.agree {
  background-image: url('./img/correct.png'); 
  background-image: url('./img/correct.svg'); 
  background-size: 53%; 
}

.questionnaire-box .answer-box .answer.disagree {
  background-image: url('./img/incorrect.png'); 
  background-image: url('./img/incorrect.svg'); 
  background-size: 43%;
  margin-left: 20px; 
}

.questionnaire-box .question-outer-box {
  display: none; 
}

.questionnaire-box .question-outer-box.visible {
  display: block; 
}

footer {
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: #f2fdfa;
  padding-top: 30px; 
  float: left; 
  width: 100%; 
  border-top: 5px solid #004346; 
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-bottom: 50px; 
}

footer .title {
  margin-left: 20px; 
  font-weight: 600; 
  font-size: 16px; 
}

.connect-intro {
  margin-left: 20px; 
  margin-top: 15px; 
}

.connect-intro button {
	padding: 10px 13px; 
	background-color: #dadbde; 
	border: 0; 
	border-radius: 3px; 
	font-size: 16px; 
	font-weight: 600;
	float: left; 
  transition: background-color ease-in-out 0.2s;
  cursor: pointer; 
}

.connect-intro button:hover {
	background-color: #afb2ba; 
	transition: background-color ease-in-out 0.2s;
}

.email-submit {
  padding: 15px 38px 16px 15px; 
	background-color: #dadbde; 
	border: 0; 
	border-radius: 3px; 
	font-size: 16px; 
	font-weight: 600;
	float: left; 
  transition: background-color ease-in-out 0.2s;
  cursor: pointer; 
  margin-left: 15px; 
  background-image: url('./img/send-email-icon.png');
  background-image: url('./img/send-email-icon.svg');
  background-position: 90% center; 
  background-repeat: no-repeat;
}

.email-submit:hover {
  background-color: #afb2ba; 
	transition: background-color ease-in-out 0.2s;
}

.connect-intro a, .connect-intro a:hover {
	text-decoration: none !important; 
	color: #16213B; 
}

.twitter-box {
	background-color: #1da1f2;
	border-radius: 3px;
	padding: 8px 20px;
	clear: left;
}

.twitter-icon {
	width: 38px;
	height: 38px;
	background-image: url(./img/twitter-icon.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center; 
	float: left; 
	margin-left: 20px;
	background-color: #dadbde; 
	border: 0; 
	border-radius: 3px; 
	padding: 10px 15px; 
	cursor: pointer; 
  transition: background-color ease-in-out 0.2s;
  margin-right: 20px; 
}

.twitter-icon:hover {
	background-color: #afb2ba; 
	transition: background-color ease-in-out 0.2s;
}

#honeypot {
  display: none;
}

.usp-full-width-content {
  padding: 0; 
}

.email-box {
  margin-left: 30px; 
  margin-bottom: 50px;
}

.email-box input {
  font-size: 18px; 
  padding: 12px 15px; 
  border-radius: 3px; 
  border: 1px solid #b2b4b5; 
  width: 300px; 
  border-bottom: 3px solid #004346; 
  outline: 0; 
}

.portal-popup-box-login, .portal-popup-box-signup {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(000,000,000,0.8);
  z-index: 99; 
}

.portal-popup-innerbox {
  width: 300px; 
  height: 400px; 
  margin: auto;
  z-index: 2; 
  border-radius: 15px;
  background-color: #F6FCFC; 
}

.portal-popup-outerbox {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  width: 300px; 
  height: 400px;
  margin: auto;
}

.portal-popup-outerfooter {
  color: #F6FCFC; 
  margin-left: 20px;
}

.portal-popup-outerfooter a {
  text-decoration: underline;
  cursor: pointer;
  color: #E5C15E;
}

.portal header {
  background-color: #00575B; 
  margin-top: 0; 
  padding-top: 20px; 
  padding-bottom: 20px; 
  padding-left: 50px; 
  padding-right: 50px; 
}

.portal .sidebar {
  width: 280px; 
  border-right: 1px solid #C8C7CC; 
  height: 100%; 
  float: left; 
}

.portal-popup-outerbox .header {
  width: 100%; 
  float: left; 
}

.portal-popup-outerbox .header-inner-box {
  padding: 20px; 
  float: left;
  width: 100%; 
}

.portal-popup-outerbox .header-inner-box .title {
  font-weight: 700; 
  font-size: 22px; 
  color: #00575B; 
}

.portal-popup-outerbox .header-inner-box .close-icon {
  background-image: url(./img/close.svg); 
  background-position: center; 
  width: 20px; 
  height: 20px; 
  background-size: contain; 
  cursor: pointer;
  float: right;
}

.portal-popup-outerbox .input-box {
  width: 100%; 
  float: left; 
  padding: 20px; 
}

.portal-popup-outerbox .input-box label {
  font-size: 14px; 
  color: #979898; 
}

.portal-popup-outerbox .input-box input {
  width: 100%; 
  border: 0; 
  border-bottom: 2px solid #C8C7CC; 
  font-size: 16px; 
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4px 4px 4px 0px; 
  margin-top: 5px; 
}

.portal-popup-outerbox input[type="submit"] {
  color: #F6FCFC; 
  text-decoration: none; 
  float: left; 
  background-color: #00969D;
  border-radius: 15px 23px 23px 15px; 
  padding: 17px 125px 17px 21px;
  background-image: url(img/showmore.svg);
  background-size: 11px; 
  background-repeat: no-repeat;
  background-position: 88% center;
  font-size: 16px; 
  letter-spacing: 0.7;
  font-weight: 500; 
  transition: 0.2s ease-in-out;
  border: 0; 
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.portal-popup-outerbox input[type="submit"]:hover {
  background-position: 90% center; 
  transition: 0.2s ease-in-out;
}


.portal-popup-outerbox .input-box input:active, .portal-popup-outerbox .input-box input:focus {
  border-bottom: 2px solid #00575B; 
}

.docs-header {
  margin-top: 41px; 
  float: left; 
  font-size: 18px; 
  font-weight: 600; 
  color: #242f38; 
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.devportal-header {
  margin-top: 41px; 
  float: left; 
  margin-right: 30px; 
  margin-left: 50px; 
  font-size: 18px; 
  font-weight: 600;
  color: #242f38; 
  transition: 0.2s ease-in-out;
  text-decoration: none; 
  cursor: pointer;
}

.devportal-header:hover, .docs-header:hover {
  text-decoration: underline; 
  transition: 0.2s ease-in-out;
}

.results-summary-header {
  background-color: #E1E1E1; 
  font-size: 12px;
  color: #7D7D7D; 
  padding-left: 15px; 
  padding-right: 15px; 
  padding-top: 5px; 
  padding-bottom: 5px; 
}

.row-title-box {
  margin-top: 60px;
}

.row-title-box .subtitle {
  color: #475e5f;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 7px; 
}

.row-title-box .title {
  font-weight: 700; 
  font-size: 32px; 
  line-height: 36px; 
  color: #004346;
}

.concern-box {
  background-color: #004346; 
  border-radius: 5px; 
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
  width: 100%; 
  padding-top: 30px; 
  padding-bottom: 15px; 
  margin-top: 100px; 
}

.concern-box .question {
  padding-left: 30px; 
  color: #FACB38; 
  font-weight: 600;
  font-size: 21px; 
}

.concern-box .answer {
  padding-left: 30px; 
  color: #fff; 
  padding-right: 30px; 
  padding-top: 20px; 
  padding-bottom: 30px;
}

.profile-building-img {
  background-image: url('./img/ovassistant-profile-building.png'); 
  width: 100%; 
  background-size: contain;
  height: 400px; 
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 170px; 
}

@media (min-width: 768px) and (max-width: 992px){ 
  .usp-full-width-content {
    padding-left: 30px !important; 
    padding-right: 30px !important; 
  }
}

@media only screen and (max-width: 767px){ 
  .usp-full-width-content {
    padding-left: 30px !important; 
    padding-right: 30px !important; 
  }

  .usp-outer-box .usp .icon, .usp-full-width .icon {
    width: 50px; 
    height: 50px; 
  }

  .usp-outer-box .usp, .usp-full-width {
    margin-bottom: 20px; 
  }

  .connect-intro button {
    margin-bottom: 15px;
  }

  .twitter-icon {
    margin-bottom: 16px;
  }

  .superhero-image {
    width: 95%;
    margin-left: 15px; 
    margin-right: auto; 
    right: 0; 
    left: 0;  
    height: 270px;
    bottom: 0; 
  }

  .superhero-primary .title {
    margin-left: 15px; 
    margin-right: 15px; 
    margin-top: 30px; 
    margin-bottom: 85%; 
  }

  h1 {
    font-size: 32px; 
    line-height: 43px;
  }

  .superhero-secundary .title {
    margin-left: 15px;  
    margin-right: 15px; 
    /* margin-top: 70%; */
  }

  .superhero-secundary .description {
    margin-left: 15px; 
    margin-right: 15px; 
    margin-bottom: 40px; 
  }

  .questionnaire-box .answer-box input {
    width: 100%; 
  }

  .email-submit {
    margin-top: 15px; 
    margin-left: 0; 
  }

  .questionnaire-box .answer-box.email {
    margin-right: 20px;
  }

  .email-box {
    margin-left: 15px;
    margin-right: 15px; 
  }

  .email-box input {
    width: 100%; 
  }
  .profile-building-img {
    height: 200px; 
  }

  .usp-item {
    padding-left: 20px; 
  }
}

@media only screen and (min-width: 435px) and (max-width: 767px){ 
  .superhero-image {
    /* top: 170px; 
    width: 280px;
    height: 53%; */
  }

  .superhero-primary .title {
    margin-bottom: 350px;
  }
}

@media only screen and (max-width: 434px){ 
  .superhero-image {
    /* top: 14%;  */
  }
}

@media only screen and (max-width: 347px){ 
  .superhero-image {
    /* top: 15%;  */
  }
}